body {
    background-image: url('');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
.wrapper {
  text-align: center;
  padding: 20px;
}
.button:hover {
    border: 3px solid #000;
}
