body{
  font-family: 'Oswald', sans-serif;
  background-color: cornsilk;
}

button{
  background-color: lightblue;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.space{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center
}

.row{
  display: flex;
  justify-content: center
}

h1, h2, p{
  text-align: center
}

.hidden{
  display: none;
}

#win-container{
  border: 3px solid black;
  border-radius: 5px;
  padding: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#win-container button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.token{
  max-width: 100px;
  display: flex;
  justify-content: center;
}

*{
  cursor: url("./img/uni.cur"), pointer;
}

/* #leaderboard2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; 
} */

.leaderCol{
  /* margin: 200px, 2px, 50px, 20px; */
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .leaderCol2{
  display: flex;
  justify-content: center;
  align-items: center;
} */
